<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= __("loyalTitle")%></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Custom CSS -->
    <style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #FFFFFF;
        color: #666666;
        font-family: "Montstreet" sans-serif;
      }

      .material-icons-outlined {
        vertical-align: middle;
        line-height: 1px;
      }

    .grid-container {
        display: grid;
        grid-template-columns: 260px 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
        height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(172, 157, 169, 0.5);
  }

  .menu-icon {
   display: none;
}
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: <%= store.color %>;
    color: #E9E5EE;
    overflow-y: auto;
    -webkit-transition: all 0.5;
    transition: all 0.5;
  }

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
  }

  .sidebar-title > span {
    display: none;
  }

  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }

.h_line{
  border-bottom: 0.2px ridge #ffff;
  width: 300px;
  margin: 30px 0px 5px -20px;
 }
 
/* Main style */
#_logo {
  height: 55px;
  width: 55px;
}
.rewards-card{
  background-color: rgba(217, 217, 217, 0.33);
  width: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montstreet" sans-serif;
  color: <%= store.color %>;
  height: 25%;
}
a {
  color: <%= store.color %>;
  text-decoration: none;
}
.all-users{
  background-color: rgba(245, 244, 247, 0.33);
  /* Rectangle 31 */
  display: flex;
  box-sizing: border-box;
  left: 25%;
  top: 42%;
  position: absolute;
  width: 75%;
  height: 10vh;
  border: 1px solid #E1DDDD;
  border-radius: 30px;
  align-items: center;
}
.dropdown{
  float: right;
  margin-top: 12px;
}
#dropdownMenuButton{
  border-color: #E1DDDD;
  border-radius: 5px;
  background-color: rgb(0,0,0,0);
}
.users-card{
  background-color: rgba(217, 217, 217, 0.33);
  width: 45vh;
  display: flex;
  align-items: center;
  font-family: "Montstreet" sans-serif;
  color: <%= store.color %>;
  height: 25%;
  margin-top: 5%;
}
.all-cards {
  display: flex;
  justify-content: space-around;
}

#name {
  margin-top: -35px;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 700;
}
.notifications-count {
  position: absolute;
  top: 11px;
  right: 50px;
  color: rgb(151, 6, 6);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #666666;
}

    </style>
     <body>
        <div class="grid-container">
    
          <!-- Header -->
          <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
              </div>
              <div class="header-left">
                <span class="material-icons-outlined">search</span>
              </div>
              <div class="header-right">
                <span class="material-icons-outlined"><a href="/showNotif">notifications</a></span>
                <span class="notifications-count"id="noti_number"></span>
                <span class="material-icons-outlined">account_circle</span>
              </div>
          </header>
          <!-- End Header -->
    
          <!-- Sidebar -->
            <!-- Sidebar -->
            <aside id="sidebar">
              <!-- End Sidebar -->
              <div class="sidebar-title">
              <div class="sidebar-brand">
                <img src="<%= store.logo %>" id="_logo">
                <h2 id="name"><%= store.name %></h2>
                </span>
                <div class="h_line"></div>
        
                  </div>
                  <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/dashboard" target="
_self">
                            <span class="material-icons-outlined">dashboard</span> <%= __("sideDash")%>
                        </a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/loyality" target="
_self">
                            <span class="material-icons-outlined">
                                card_membership</span> <%= __("sideLoyality")%>
                        </a>
                    </li>
        
                    <li class="sidebar-list-item">
                        <a href="/campaigns" target="
_self">
                            <span class="material-icons-outlined">campaign</span> <%= __("sideCamp")%>
                        </a>
                    </li>
        
                    <li class="sidebar-list-item">
                        <a href="/queseval" target="
_self">
                            <span class="material-icons-outlined">contact_support</span> <%= __("sideEval")%>
                        </a>
                    </li>
        
                    <li class="sidebar-list-item">
                        <a href="/storeset" target="
_self">
                            <span class="material-icons-outlined">settings</span>  <%= __("sideSet")%>
                        </a>
                    </li>
                </ul>
            </aside>
        
        <!--Main-->
     <div class="all-cards row justify-content-space-around">
        <div class="rewards-card col-md-4 m-4">
          <span class="material-icons-outlined" style="font-size: xxx-large;color: <%= store.color %>; ">people</span>
           <a href="/allusers"> <h5><%= __("allUsers")%></h5>  </a>  
        </div> 
     </div>
     <div class="all-cards row justify-content-space-around">
      <div class="rewards-card col-md-4 m-4">
        <span class="material-icons-outlined" style="font-size: xxx-large;color: <%= store.color %>;">add</span>
        
        <a href="/rewards"><h5><%= __("addReward")%></h5> </a>   
      </div> 
   </div>
   <div class="all-cards row justify-content-space-around">
    <div class="rewards-card col-md-4 m-4">
      <span class="material-icons-outlined" style="font-size: xxx-large;color: <%= store.color %>;">add</span>
       <a href="/points"><h5><%= __("addPoints")%></h5> </a>   
    </div> 
   </div>
      <div class="all-users row justify-content-space-around">
        <div class=" col-md-6 align-items-center">
        <span class="material-icons-outlined " style="font-size: xx-large;color: <%= store.color %>; ">people</span>
           </div>
           <div class="col-md-6 ">
            <select name="users" id="dropdownMenuButton" class="dropdown">
              <option><%= __("filter")%></option>
              <option value="oldest">Oldest users</option>
              <option value="latest">Latest users</option>
            </select>
           </div>
      
           <div class="all-cards row justify-content-space-around" id="users-container">
            <!-- Users will be displayed here -->
          </div>
          
      </div>
      <script>
        //Return notifications status

        // Retrieve the count from the browser's local storage
        const unreadNotificationsCount = localStorage.getItem('unreadNotificationsCount');
        if (unreadNotificationsCount) {
          const notificationsCount = document.getElementById("noti_number");
          notificationsCount.textContent = unreadNotificationsCount;
          notificationsCount.style.display = unreadNotificationsCount > 0 ? 'block' : 'none';

        }

        //Show users based on filter

 const dropdown = document.getElementById('dropdownMenuButton');
const usersContainer = document.getElementById('users-container');

dropdown.addEventListener('change', () => {
  console.log("selected changed")

  const value = dropdown.value;
  if (value === '') {
    // Clear the users container if the user selects the default option
    usersContainer.innerHTML = '';
    console.log(value)

    return;
  }
  console.log("before fetch")

  // Make an AJAX request to the server based on the user's choice
  fetch(`http://localhost:8080/users/filter?filter=${value}`)
    .then(response => response.json())
    .then(data => {

      // Display the users in the users container
      const { users } = data; // Use "users" instead of "oldestUsers" and "latestUsers"
      usersContainer.innerHTML = '';
      users.forEach(user => {
        const card = `
          <div class="users-card col-md-4 ">
            <img src="avatar2.png" height="55" width="55">
            <div class="text d-block m-3">
              <h5>${user.phone}</h5>
             <p>${user.points} Points</p>
              <img src="coin.png" height="20" width="20">
            </div>
          </div>
        `;
        usersContainer.insertAdjacentHTML('beforeend', card);
      });

    })
    .catch(error => console.error(error));
});

    
  
      </script>
    </body>
    </html>
      
